<%- include ('../partials/header.ejs') %>

<body>
    
    <%- include ('../partials/navbar.ejs') %>

    <div class="container">
        <a class="btn btn-primary mt-4" href="">btn1</a>
        <a class="btn btn-primary mt-4" href="">btn2</a>
        <a class="btn btn-primary mt-4" href="">btn3</a>
    </div>

</body>

<%- include ('../partials/footer.ejs') %>