<%- include ('partials/header.ejs') %>
<body>

    <%- include ('partials/navbar.ejs') %>

    <div class="container">       
        <div class="card form-ask">

            <div class="card-header">    
                <h3>Ask!</h3>
            </div>

            <div class="card-body">
                <form action="/save-question" method="POST">
                    <label class="mt-1" for="title">Title:</label>
                    <input class="form-control" name="title" type="text" placeholder="Title" required>
            
                    <label class="mt-3" for="question">Question:</label>
                    <textarea class="form-control " name="question" id="" cols="30" rows="5" placeholder="Write your question here" required></textarea>
                    
                    <button class="btn btn-primary mt-4" type="submit">Ask!</button>
                </form>
            </div>
        </div>
    </div>



</body>

<%- include ('partials/footer.ejs') %>